<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <a href="#O_mne">O mne</a>
	    </div>
	    <div class="panel-body">
	        <p>
			O mne sa da toho povedat vela.
	        </p>
	    </div>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <a href="#Programovanie">Ja, programovanie a pocitacove hry</a>
	    </div>
	    <div class="panel-body">
	        <p>
	        Ked som bol maly dostal som NHL 2000. To bola hra.Programovat som zacal na strednej skole, a tam ma to natolko oslovilo ze som sa vybral na FIIT.
	        </p>
	    </div>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
	        <a href="#Projekty">Moje projekty</a>
	    </div>
		<div class="panel-body">
			<p>
	        Tu si mozete pozriet niektore moje projekty.
		    </p>
		</div>
	</div>
</div>
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
	        <a href="#Priroda">Priroda je moj kamarat</a>
	    </div>
		<div class="panel-body">
			<p>
	        Rad chodim do lesy, do hor na tury a tak.
		    </p>
		</div>
	</div>
</div>