<nav class="navbar navbar-inverse navbar-fixed-left" >
  <div class="container" >
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Úvod</a>  
      </li>
      <li>
        <a href="/o_mne/">O mne</a>  
      </li>
      <li>
        <a href="/priroda/">Príroda</a>  
      </li>
      <li>
        <a href="/projekty/">Projekty</a>  
      </li>
      <li>
        <a href="/programovanie/">Programovanie a počítače</a>  
      </li>
      <li>
        <a href="/blog/">Blog</a>  
      </li>
    </ul>
  </div>
</nav>
