---
layout: basic
---
	<div class="container">
		{{content}}
	</div>
	<div>
		{% for category in site.data[page.address]%}
			<div class="container">
				<div class="panel panel-default" style="margin-top:30px; margin-bottom:30px">
					<div class="panel-heading" style="background-color: rgb(242, 244, 88)">
				    	<h1 class="panel-title text-left" style="font-size: 20px">{{category.nadpis}}</h1>
				    	<h1 class="panel-title text-right" style="font-size: 20px">Počet pojektov<span class="badge" style="margin-left: 15px">{{category.prispevky | size}}</span></h1>
				 	</div>
				  	<div class="panel-body">
				    	<p>{{category.popis}}</p>
				    	{% for polozka in category.prispevky %}
							<div class="panel panel-default">
								<div class="panel-heading" style="background-color: rgb(255, 255, 175)">
							    	<h1 class="panel-title" style="font-size: 20px">{{polozka.name}}</h1>
							 	</div>
							  	<div class="panel-body">
							    	<p>{{polozka.popis}}</p>
							    	<a class="btn btn-primary" href="{{polozka.code}}">Kód</a>
							    	<a class="btn btn-primary" href="{{polozka.doc}}">Dokumentácia</a>
							  	</div>
							</div>
						{% endfor %}
				  	</div>
				</div>
			</div>
		{%endfor%}	   
	</div>